a:hover {
      cursor: pointer; 
}

span.icon-bag.count-product-bag { 
	position: absolute;
	border-radius: 100%;
	width: 3%;
	height: 30%;
	top : 0;
	right: 0;
	color : white;
	text-align: center;
	
}